*{
  font-family:  Helvetica, Arial ,sans-serif;
}

body{
  padding: 4rem;
}

input{
  color: grey;
  font-size: 1.2rem;
  width: 100%;
}

.card-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.card{
  align-content: center;
  border: 1px solid  grey;
  border-radius: 1rem;
  margin: 0.8rem;
  overflow: hidden;
}

.card img{
  max-height: 11rem;
}
.card p {
  padding: 0.3rem;
  text-align: center;
}